In [16]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('improved_disease_dataset.csv')

In [4]:
data

,fever,headache,nausea,vomiting,fatigue,joint_pain,skin_rash,cough,weight_loss,yellow_eyes,disease
0,1,0,1,0,1,0,0,1,1,0,Paralysis (brain hemorrhage)
1,0,0,1,0,0,0,1,1,0,0,Paralysis (brain hemorrhage)
2,0,0,1,0,1,0,1,1,0,0,Paralysis (brain hemorrhage)
3,0,0,1,1,1,0,1,1,1,1,Paralysis (brain hemorrhage)
4,1,0,1,0,1,0,0,0,1,1,Paralysis (brain hemorrhage)
...,...,...,...,...,...,...,...,...,...,...,...
1995,1,1,0,0,1,0,0,0,1,1,Alcoholic hepatitis
1996,1,0,0,0,1,1,1,0,1,1,Alcoholic hepatitis
1997,1,0,0,1,0,0,0,0,0,1,Alcoholic hepatitis
1998,0,0,0,0,1,1,0,0,0,1,Alcoholic hepatitis
1999,0,0,0,1,1,1,0,0,0,1,Alcoholic hepatitis

In [8]:
encoder = LabelEncoder()
data['disease'] = encoder.fit_transform(data['disease'])

In [9]:
data

,fever,headache,nausea,vomiting,fatigue,joint_pain,skin_rash,cough,weight_loss,yellow_eyes,disease
0,1,0,1,0,1,0,0,1,1,0,29
1,0,0,1,0,0,0,1,1,0,0,29
2,0,0,1,0,1,0,1,1,0,0,29
3,0,0,1,1,1,0,1,1,1,1,29
4,1,0,1,0,1,0,0,0,1,1,29
...,...,...,...,...,...,...,...,...,...,...,...
1995,1,1,0,0,1,0,0,0,1,1,2
1996,1,0,0,0,1,1,1,0,1,1,2
1997,1,0,0,1,0,0,0,0,0,1,2
1998,0,0,0,0,1,1,0,0,0,1,2
1999,0,0,0,1,1,1,0,0,0,1,2

In [10]:
from sklearn.preprocessing import LabelEncoder

# Sample data with many unique values
countries = ["USA", "China", "India", "Brazil", "Russia", "Japan", "Germany", 
             "UK", "France", "Italy", "Canada", "South Korea", "Australia", 
             "Spain", "Mexico", "Indonesia", "Netherlands", "Saudi Arabia", 
             "Turkey", "Switzerland"]

# Initialize and fit the encoder
encoder = LabelEncoder()
encoded_countries = encoder.fit_transform(countries)

# Print the original and encoded values
for original, encoded in zip(countries, encoded_countries):
    print(f"{original}: {encoded}")

# You can convert back using inverse_transform
print("\nDecoding 5 back to original:", encoder.inverse_transform([5])[0])

USA: 19
China: 3
India: 6
Brazil: 1
Russia: 12
Japan: 9
Germany: 5
UK: 18
France: 4
Italy: 8
Canada: 2
South Korea: 14
Australia: 0
Spain: 15
Mexico: 10
Indonesia: 7
Netherlands: 11
Saudi Arabia: 13
Turkey: 17
Switzerland: 16

Decoding 5 back to original: Germany

In [11]:
X = data.iloc[:, :-1]

In [12]:
X

,fever,headache,nausea,vomiting,fatigue,joint_pain,skin_rash,cough,weight_loss,yellow_eyes
0,1,0,1,0,1,0,0,1,1,0
1,0,0,1,0,0,0,1,1,0,0
2,0,0,1,0,1,0,1,1,0,0
3,0,0,1,1,1,0,1,1,1,1
4,1,0,1,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...
1995,1,1,0,0,1,0,0,0,1,1
1996,1,0,0,0,1,1,1,0,1,1
1997,1,0,0,1,0,0,0,0,0,1
1998,0,0,0,0,1,1,0,0,0,1
1999,0,0,0,1,1,1,0,0,0,1

In [13]:
Y = data.iloc[:,-1]

In [14]:
Y

0       29
1       29
2       29
3       29
4       29
        ..
1995     2
1996     2
1997     2
1998     2
1999     2
Name: disease, Length: 2000, dtype: int64

In [17]:
plt.figure(figsize = (18,8))
sns.countplot(x=y)
plt.title("Disease Class Distribution Before Resampling")
plt.xticks(rotation = 90)
plt.show()
ros=RandomOverSampler(random_state=42)
X_sampled,y_

NameError: name 'y' is not defined